.feed {
  flex: 1;
  padding: 10px 150px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
@media screen and (max-width: 1024px) {
  .feed {
    padding: 10px 100px;
  }
}
@media screen and (max-width: 768px) {
  .feed {
    padding: 10px 10px;
    margin-left: 80px;
  }
}
@media screen and (max-width: 426px) {
  .feed {
    padding: 10px 10px;
    margin-left: 0px;
    width: 350px;
  }
}
@media screen and (max-width: 376px) {
  .feed {
    padding: 10px 10px;
  }
}
@media screen and (max-width: 321px) {
  .feed {
    padding: 10px 10px;
    max-width: 310px;
  }
}
