.main_card {
  display: flex;
  align-items: center;
}
.card {
  display: flex;
  align-items: center;
  margin: 20px;
  flex-direction: column;
}
.card img {
  cursor: pointer;
  transition: 0.5s;
}
.card img:hover {
  transform: scale(1.02);
}

.card .card-body {
  margin-top: 20px;
}
.card .card-body h1 {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}
.card .card-body button {
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}
.card .card-body button:hover {
  background-color: rgb(18, 163, 18);
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .card img {
    width: 80%;
  }
}
