.header {
  display: flex;
  padding: 5px 20px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
  justify-content: space-between;
  box-shadow: 0 0 4px #ccc;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__left img {
  height: 40px;
}
.header__search {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 0 12px;
  height: 40px;
  margin-left: 20px;
}
.header__search svg {
  padding: 0 10px;
}
.header__search input {
  border: none;
  outline: 0;
  padding: 5px 10px;
  background: transparent;
  min-width: 200px;
}
.header__middle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__option {
  padding: 5px 40px;
  font-size: 30px;
  cursor: pointer;
}
.header__option:hover {
  border-radius: 20px;
  background-color: whitesmoke;
}
.header__option svg {
  color: gray;
}
.header__option svg:hover {
  color: #2381fa;
}

.header__option--active svg {
  color: #2381fa;
}
.header__option--active {
  position: relative;
}
.header__option--active::after {
  content: "";
  position: absolute;
  height: 3px;
  left: 0;
  right: 0;
  bottom: -5px;
  background-color: #2381fa;
}

.header__right {
  display: flex;
  align-items: center;
}
.header__info {
  display: flex;
  align-items: center;
  padding: 5px 20px;
}
.header__info h5 {
  margin-right: 10px;
}
.header__info .MuiAvatar-root {
  margin-right: 5px;
}
.header__info span {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 20px;
}
.icon {
  padding: 5px 10px;
  cursor: pointer;
}
.icon svg {
  font-size: 22px;
}
@media screen and (max-width: 1024px) {
  .header__option {
    padding: 3px 20px;
    font-size: 30px;
    cursor: pointer;
  }
  .header__search {
    margin-left: 0;
  }
  .header__info {
    padding: 5px 5px;
  }
  .icon {
    padding: 5px 5px;
  }
  .header__info h5 {
    margin-right: 0px;
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  .header__right {
    display: none;
  }
  .header__middle {
    margin-right: 40px;
  }
}
@media screen and (max-width: 426px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header__left {
    margin-bottom: 10px;
  }
  .header__middle {
    margin-right: 0px;
  }
}
@media screen and (max-width: 321px) {
  .header__search input {
    min-width: 100px;
  }
  .header__search {
    padding: 0 8px;
    height: 40px;
    margin-right: 10px;
    width: fit-content;
  }
}
