.right {
  margin-top: 30px;
  margin-right: 10px;
  height: 100vh;
  position: sticky;
  top: 0;
  flex: 0.33;
}
.right__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.right__header svg {
  cursor: pointer;
}
.right__header__right svg:hover {
  border-radius: 10px;
  background-color: rgb(211 211 211/31%);
}
.right__body__options {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.right__body__options h4 {
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}
.right__body__options:hover {
  border-radius: 10px;
  background-color: rgb(211 211 211/31%);
}
.icon {
  margin-left: 10px;
}
.icon p {
  font-size: 12px;
  color: gray;
  cursor: pointer;
}
.icon svg {
  font-size: 16px;
  margin-right: 10px;
}
.right__header__right svg {
  margin: 0 10px;
}
@media screen and (max-width: 1024px) {
  .right{
    display: none;
  }
}
@media screen and (max-width: 426px) {
  
}