* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.share_dropdown {
  margin: 0 auto;
  position: relative;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.share_dropdown .share_dropdown_btn {
  /* padding: 10px; */
  background: transparent;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.share_dropdown .share_dropdown_content {
  position: absolute;
  top: 80%;
  padding: 0 10px;
  font-weight: 500;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.share_dropdown .share_dropdown_content .share_dropdown_item {
  display: flex;
  align-items: center;
  padding: 5px 15px;
}
.dropdown .dropdown_content .dropdown_item:hover {
  background-color: rgb(211 211 211/31%);
}
